---
# Only the main Sass file needs front matter (the dashes are enough)
sitemap: false
---
$serif-font-family: "Lora";
$font-family: "Montserrat",sans-serif;
$sans-serif-font-family: "Source Sans Pro", sans-serif;
$noto-sans-font-family: 'Noto Sans KR', sans-serif;
$font-family: 'NanumSquareRound',sans-serif;
$roboto-font-family: 'Roboto', sans-serif;

/*
$base-font-family: $noto-sans-font-family;
$headline-font-family: $noto-sans-font-family;
$title-font-family: $noto-sans-font-family;
$description-font-family: $noto-sans-font-family;
$meta-font-family: $noto-sans-font-family;
*/

$accent-color: tomato;

@charset "utf-8";
@import "so-simple";

/* For Image center*/

.center {
    display: block;
    margin: auto;
}

li {
    margin-top: 5px;
    margin-bottom: 10px;
}

P {
    margin-block-end: 20px;
}

.entry-title {
    letter-spacing: 0px;
}

.page-title {
    letter-spacing: -1px;
    margin-bottom: 1em;
}

.site-description {
    margin-top: 1.0em;
}
